body {
	margin: 0px;
}

a {
	text-decoration:none;
}

#welcome-fullpage-container {
	background-image: url("colorized_cropped_cover.jpg");
	background-size: cover;
	background-color: #ffd9b3;
	height: 1000px;
	width: 100%;
	position: relative;
}

.my-name {
}

@keyframes dash {
	100% {stroke-dashoffset:0px;}
}


#allison-path {
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	stroke: #4d2600;
        animation: dash 2s linear forwards;
}

#allison-path-2 {
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	stroke: #4d2600;
        animation: dash 2s linear forwards;

}

#a-dot-path-2, #a-dot-path {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	stroke: #4d2600;
	animation: dash .6s linear forwards .4s;
}

#bickford-path {
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
	stroke: #4d2600;
        animation: dash 2s linear forwards 1s;

}

#b-line-path {
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	stroke: #4d2600;
	animation: dash .8s linear forwards 1s;
}

#b-dot-path {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
	stroke: #4d2600;
        animation: dash .8s linear forwards 1.5s;

}


.nav-bar {
	width: 100%;
	text-align:center;
	bottom: 30px;
	position: absolute;
}

.nav-item {
	display: inline-block;
	margin: 0 2em;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.nav-item a {
	color: #4d2600;
	text-decoration: none;
}

.nav-item:hover a {
	color: #cc6600;
}

.about-fullpage-container {
	position: relative;
	background: #ffd9b3;
	color: #4d2600;
	padding: 10px;
	min-height: 900px;
}

.about-info {
	width: 80%;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
}

.about-info h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
}

.about-info li {
}

.projects-fullpage-container {
	min-height: 900px;
	background: #ffd9b3;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #4d2600;
}

.projects-bar {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
}

.projects-bar-item {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #4d2600;
	display: inline-block;
	padding: 8px;
}

.projects-bar-item:hover {
	color: #cc6600;
}

.project-detail {
	color: #4d2600;
	width: 80%;
	margin: auto;
	text-align: left;
}

.project-detail-header {
	font-family: 'Raleway', sans-serif;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #4d2600;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.github-icon {
	margin: 10px;
}

.github-icon:hover {
	opacity: 0.7;
}

.project-detail p{
	font-family: 'Open Sans', sans-serif;
}

input[type=checkbox] {
	display: none;
}

.project-image-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.project-image img {
	transition: transform 0.25s ease;
	cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
	transform: scale(2);
	z-index: 1;
	cursor: zoom-out;
}

.project-image img {
	width: 450px;
	height: auto;
	margin: 10px;
}

.contact-fullpage-container {
	font-family: 'Open Sans', sans-serif;
	color: #4d2600;
	background-color: #ffd9b3;
	padding: 10px;
	text-align: center;
}

.form-container {
	margin: auto;
	width: 80%;
}

input[type=text], select, textarea {
	width: 50%;
	padding: 12px;
	border: 3px solid #4d2600;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: white;
}

input[type=submit] {
	font-size: 16px;
	width: 50%;
	background-color: #ffd9b3;
	color: #4d2600;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: brown;
}
