h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 32px;
        color: #ff9933;
}

body {
	margin: 0px;
}

#banner {
        position: relative;
        z-index: 2;
        padding-top: 90px;
	padding-bottom: 90px;
	padding-left: 10px;
	padding-right: 10px;
      	background-color: #ff9933;
      	width: 100%;
        font-family: 'Raleway', sans-serif;
	font-weight: bold;
        font-size: 40px;
        text-align: center;
	color: white;
}

.nav-bar {
        top: 0;
        width: 100%;
        text-align: center;
}

.nav-item {
        display: inline-block;
        margin: 0 2em;
        font-family: 'Raleway', sans-serif;
	font-size: 28px;
}

.nav-item a {
	color: black;
	text-decoration: none;
}

.nav-item:hover a{
	color: #ff9933;
}

#preview-menu-container {
	/* reduce size? */	
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
	position: relative;
	max-width: 800px;
	max-height: 800px;
	display: grid;
	grid-template-columns: 30% 70%;
}

#option-container {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
}

.preview-option {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin: 5px;
	display: block;
	border-style: solid;
	border-radius: 3px;
	width: inherit;
	transition: box-shadow 0.6s linear;
}

.preview-option:hover {
	box-shadow: 0px 0px 0px 5px #ff9933;
}

.selected-preview-option {
	border-color: #ff9933;
}

.project-preview {
	position:relative;
	border-style: solid;
	border-color: #ff9933;
	border-radius: 3px;
	margin: 5px;
	padding: 10px;
}

.project-preview h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
}

.project-preview p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
}

